*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 10px;
    padding: 10px;
   }
   #header{
    min-height: 150px;
    background-color: green;
    margin-bottom: 13px;
    margin-right: 5px;
    margin-left: 5px;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;;
    margin-left: 5px;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    padding: 13px;
    margin-right: 5px;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-left: 10px;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin-left: 10px;
    margin-top: 10px;
   }