.container{
    width: 970px;
    outline: 1px dotted red;
    background-color: #1d355c;
    padding: 10px;
}
.header{
    width: 100%;
    /*height: 100px;*/
    background-color: #cc323b;
    border-radius: 10px;
    margin-bottom: 10px;
}
.header h1{
    margin: 0px;
    padding: 15px 0px 15px 10px;
    color: #c3debc;
}

.navbar{
    height: 200px;
    width: 180px;
    background-color: #2f7d8b;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.navbar ul{
    padding-left: 20px;
    margin: 0;
}

.navbar a{
    color: #61cac7;
    font-size: 12px;
}

.main-content{
    height: 400px;
    width: 750px;
    display: inline-block;
    margin-left: 15px;
    background-color: #0f1822;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    padding: 0px 0px 0px 10px;
}

.main-content ul{
    margin-right: 15px; 
}

.footer{
    width: 100%;
    height: 45px;
    background-color: #5e6672;
    outline: 1px dotted yellow;
    border-radius: 15px;
    color: white;
    margin: 0px;
    padding: 2px 0px 0px 0px;
}

.footer p{
    margin-left: 15px;
}

.sub{
    color: turquoise !important;
}

.destacar{
    color: turquoise;
}

#destacar{
    color: turquoise;
    text-decoration: underline;
}

#sin{
    list-style-type: none;
}
