*/ {
    margin: 0px;
    padding: 0px;
    /*outline: 1px dashed red; */
    font-family: sans-serif;
}

#wrapper{
    width: 1000px;
    margin: 0px auto;
}

#header{
    background-color: rgb(230,230,230) ;
    padding: 10px 0px;
}

    #header h1 {
        display: inline-block;
        width: 400px;
        margin-left: 20px;
}

    #header p{
        display: inline-block;
        vertical-align: top;
        margin-top: 8px;
        width: 520px;
        text-align: right;
        font-size: 20px;
}

#main {
    background-color: rgb(41, 11, 11);
    padding: 20px;
}

    #about{
    margin-bottom: 20px;
}

    #about img{
        height: 250px;
        border: 3px solid gray;
    }
    
    #about div{
        display: inline-block;
        vertical-align: top;
        width: 540px;
        height: 256px;
        margin-left: 28px;
        background-color: rgba(255, 255, 255, 0.911);
        
    }
    
    #about div h2, #projects div h3, #projects div h4{
        padding: 4px 10px;
        background-color: rgb(136, 136, 136);
        color: white;
        text-align: left;
        margin: auto;
    }

    #about div p{
        padding: 10px;
    }

    #about div a{
        display: block;
        padding: 10px;
    }

    #projects div{
        display: inline-block;
        vertical-align: top;
        margin-right: 24px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.911);
        text-align: center;
        height:
    }

    #projects div:last-of-type{
        margin-right: 0px;

    }

    #projects div img{
        width: 300px;
    }

    #projects div p{
        margin-top: 6px;
        padding: 6px;
        height: 200px;
    }

    #projects div div{
        text-align: left;
    }
    #projects div div img{
        width: 50px;
        margin: 4px;

    }

    #projects div button{
        background-color: teal;
        padding: 3px;
        color: white;
        border-radius: 5px;
        border: 1px solid black;
        box-shadow: slategray;
        margin-bottom: 20px;
    }

    #footer{
        text-align: center;
        background-color: rgb(230,230,230);
        padding: 10px 0px;
    }

    #footer span{
        font-style: italic;
    }

    #footer div img{
        height: 25px;
}