*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#wrapper{
    width: 970px;
    margin: 0px auto;
    background-color: rgb(32, 101, 158) ;
    color: white;
}

#top-content{
    padding: 15px;
}
#header img{
    height: 118px;
}

#header-right p{ 
    color: white;   
    width: 212px;  
}

#header-right u{
    color: rgb(168, 197, 38);  
    font-size: 11px
}

#header-right{
    display: inline-block;
    margin-left: 298px;
    text-align: center;
    vertical-align: top;
    font-size: 11px
}

#search{
    width: 203px;
    height: 27px;
    border-radius: 10px;
    background-color: gray;
    padding: 15px 7px 4px 10px;
    margin-top: 5px;
    box-shadow: 1px 1px 1px black;
}

#search button{
    color: white;
    text-align: center;
    padding: 4px 8px;
    border-radius: 5px;
    background-color:  rgb(32, 101, 158);
    box-shadow: 1px 1px 1px 1px;
}

#nav{
    width: 800px;
    list-style: none;
    background-color: rgb(86 145 212);
    border-radius: 5px;
    font-size: 20px ;
    display: flex;
    justify-content: space-around;
    padding: 10px 25px;
    margin: 20px auto;
    box-shadow: 2px 2px 2px black;
}

#side-nav{
    text-align: center;
    display: inline-block;
    list-style-type: none;
    margin-left: 100px;
}

#side-nav li{
    margin: 13px;
}

#side-nav a{
color: white;
}

#side-nav span{
    color: yellow;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 3px;
}

#main-content{
    display: inline-block;
    width: 600px;
    text-align: center;
    vertical-align: top;
    margin-left: 20px;
}

#main-content p{
    font-size: 14px;
    margin-bottom: 15px;
}

#main-content h3{
    font-weight: normal;
    color: yellow;
    font-style: italic;
    margin: 15px;
}

#main-content h4{
    font-weight: normal;
    margin: 15px;
}
        
#middle-content{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 40px;
}

#middle-content div{
    width: 400px;
    border-top: 4px solid rgb(39, 84, 143);
    color: black;
    text-align: center;
}

#middle-content h4{
    margin: 10px;
}

#middle-content p{
    font-size: 14px;
    width: 300px;
    margin: 0px auto 5px auto;
}

#middle-content span{
    color: rgb(63, 131, 151);
}

#middle-content ul{
    list-style: square;
    margin-left: 75px;
    width: 400px;
}
#middle-content li a{
    margin-left: -125px;
    text-decoration: none;
    color: rgb(63, 131, 151);
    font-size: 14px;
}
#footer{
    text-align: center;
    background:linear-gradient(#245176,#3374ab);
}

#footer ul{
    list-style: none;
    margin: 40px auto 20px auto;
    color: #88b4db;
}

#footer li{
    display: inline;
    margin: 20px;
}

#footer p{
    font-size: 10px;
    height: 20px;
}